.CardTeam {
  @apply max-w-[360px] shadow-soft rounded-xl;

  &__Content {
    @apply bg-neutral-50 p-6 rounded-b-xl;
    @apply dark:bg-night-50;
  }

  &__Name {
    @apply text-xl font-bold text-neutral-900 mr-1;
    @apply dark:text-stone-50;
  }

  &__Position {
    @apply text-base font-normal text-neutral-600;
    @apply dark:text-neutral-300;
  }
}
