.FeaturedItem {
  @apply w-fit mx-auto grid grid-cols-[1.5rem,auto] gap-x-3 py-5 max-w-[360px];
  @apply lg:w-auto lg:mx-0 lg:border-b lg:border-zinc-300;

  &__Icon {
    @apply w-6 text-primary;
  }

  &__Content {
    @apply text-neutral-900 text-sm font-normal;
    @apply dark:text-neutral-50;
  }
}
