.FeaturedItem {
  @apply grid grid-cols-[1.5rem,auto] gap-x-3 border-b border-zinc-300 py-5 max-w-[360px];

  &__Icon {
    @apply w-6 text-primary;
  }

  &__Content {
    @apply text-neutral-900 text-sm font-normal;
    @apply dark:text-neutral-50;
  }
}
