.button {
  /* Default Properties */
  @apply w-fit h-fit bg-primary text-neutral-50 text-base font-medium font-sans py-4 px-8 rounded-md cursor-pointer block;
  @apply hover:scale-105 duration-300 ease-in-out;
  @apply active:scale-95;
}
