.FAQ {
  @apply max-w-[1128px] mx-auto mb-24;

  &__Title {
    @apply text-center text-4xl font-bold mb-3 text-neutral-900;
    @apply dark:text-neutral-50;
  }

  &__Description {
    @apply text-sm text-center font-semibold mb-16 text-neutral-600 block;
    @apply dark:text-neutral-300;
  }

  &__Grid {
    @apply grid grid-cols-2 gap-6;
  }
}
