.Hero {
  @apply max-w-[1392px] mt-8 mx-auto mb-24 grid grid-cols-2 place-items-center;

  &__Content {
    @apply max-w-[360px];
  }

  &__Title {
    @apply text-neutral-900 text-6xl font-bold mb-6;
    @apply dark:text-neutral-50;
  }

  &__Description {
    @apply text-neutral-600 text-base font-normal mb-8;
    @apply dark:text-neutral-300;
  }
}
