.Services {
  @apply max-w-[1128px] mx-auto mb-24;

  &__Label {
    @apply block text-primary text-sm font-semibold mb-2;
  }

  &__Title {
    @apply text-4xl font-bold text-neutral-900 max-w-[604px] mb-10;
    @apply dark:text-neutral-50;
  }

  &__Track {
    @apply grid grid-cols-4 gap-6;
  }
}
