:root {
  --full-height: 100vh;
}

body {
  @apply font-sans bg-white text-neutral-900;
  @apply dark:bg-night-100 dark:text-neutral-50;
}

/*
  this class enable --tw-transform css variable
  its necesary for animations, transitions and other
  dont remove it!
*/
.DummyTransformClasses {
  @apply transform blur brightness-100 contrast-100 drop-shadow grayscale hue-rotate-0 invert;
}
