.FeaturedBlog {
  @apply max-w-[1128px] mx-auto mb-24;

  &__Label {
    @apply text-primary text-sm font-semibold mb-3 block text-center;
  }

  &__Title {
    @apply text-neutral-900 text-4xl font-semibold text-center mb-3;
    @apply dark:text-neutral-900;
  }

  &__Description {
    @apply max-w-[552px] mx-auto text-center text-lg font-normal text-neutral-600 mb-10;
    @apply dark:text-neutral-300;
  }

  &__Track {
    @apply grid grid-cols-3 gap-x-6;
  }
}
