.Team {
  @apply max-w-[1140px] mx-auto mb-24;

  &__Label {
    @apply block text-sm font-semibold text-primary mb-3 text-center;
  }

  &__Title {
    @apply text-4xl font-bold text-center text-neutral-900 mb-16;
    @apply dark:text-neutral-50;
  }

  &__Track {
    @apply grid grid-cols-3 gap-x-7;
  }
}
