.BlogPosts {
  @apply max-w-[1150px] mx-auto my-24;

  &__Title {
    @apply text-4xl text-center font-bold mb-16;
  }

  &__Grid {
    @apply grid grid-cols-1 gap-y-8 justify-items-center;
    @apply lg:grid-cols-3 lg:gap-x-6;
  }
}
